<% if(reviews) { %>
<section class="top-rated">
        <div class="container">
            <p class="section-subtitle">Online Streaming</p>
            <h2 class="h2 section-title">Top Rated Movies</h2>
            <ul class="filter-list">
                <li>
                    <button class="filter-btn">Movies</button>
                </li>
                <li>
                    <button class="filter-btn">TV Shows</button>
                </li>
                <li>
                    <button class="filter-btn">Documentary</button>
                </li>
                <li>
                    <button class="filter-btn">Sports</button>
                </li>
            </ul>
            <ul class="movies-list">
                <% reviews.forEach(function(review) { %>
                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="<%= review.poster_path %>" alt="<%= review.title %>">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title"><%= review.title %></h3>
                            </a>

                            <time datetime="2022">2022</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">2K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT122M">122 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>7.8</data>
                            </div>
                        </div>

                    </div>
                </li>
                <% }); %>
            </ul>

        </div>
</section>
<% } %>