<article>
            <!--- #HERO-->
            <%- include('./part__page/hero__html') -%>

            <!--- #UPCOMING-->
            <%- include('./part__page/upcoming_html') -%>
            <!--- #SERVICE -->

            <section class="service">
                <div class="container">
                    <div class="service-banner">
                        <figure>
                            <img src="img/service-banner.jpg" alt="HD 4k resolution! only $3.99">
                        </figure>
                        <a href="img/service-banner.jpg" download class="service-btn">
                            <span>Download</span>
                            <ion-icon name="download-outline"></ion-icon>
                        </a>
                    </div>
                    <div class="service-content">
                        <p class="service-subtitle">Our Services</p>
                        <h2 class="h2 service-title">Download Your Shows Watch Offline.</h2>
                        <p class="service-text">
                            Lorem ipsum dolor sit amet, consecetur adipiscing elseddo eiusmod tempor.There are many
                            variations of
                            passages of lorem
                            Ipsum available, but the majority have suffered alteration in some injected humour.
                        </p>
                        <ul class="service-list">
                            <li>
                                <div class="service-card">

                                    <div class="card-icon">
                                        <ion-icon name="tv"></ion-icon>
                                    </div>

                                    <div class="card-content">
                                        <h3 class="h3 card-title">Enjoy on Your TV.</h3>

                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="service-card">

                                    <div class="card-icon">
                                        <ion-icon name="videocam"></ion-icon>
                                    </div>

                                    <div class="card-content">
                                        <h3 class="h3 card-title">Watch Everywhere.</h3>

                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                    </div>

                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
            </section>
        
            <!--- #TOP RATED-->
            <%- include('./part__page/top_rating__tml') -%>
            <!--- #TV SERIES-->

            <section class="tv-series">
                <div class="container">
                    <p class="section-subtitle">Best TV Series</p>
                    <h2 class="h2 section-title">World Best TV Series</h2>
                    <ul class="movies-list">
                        <li>
                            <div class="movie-card">
                                <a href="./movie-details.html">
                                    <figure class="card-banner">
                                        <img src="./assets/images/series-1.png" alt="Moon Knight movie poster">
                                    </figure>
                                </a>
                                <div class="title-wrapper">
                                    <a href="./movie-details.html">
                                        <h3 class="card-title">Moon Knight</h3>
                                    </a>
                                    <time datetime="2022">2022</time>
                                </div>
                                <div class="card-meta">
                                    <div class="badge badge-outline">2K</div>
                                    <div class="duration">
                                        <ion-icon name="time-outline"></ion-icon>
                                        <time datetime="PT47M">47 min</time>
                                    </div>
                                    <div class="rating">
                                        <ion-icon name="star"></ion-icon>
                                        <data>8.6</data>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>

                </div>
            </section>
            <!--- #CTA-->

            <section class="cta">
                <div class="container">

                    <div class="title-wrapper">
                        <h2 class="cta-title">Trial start first 30 days.</h2>

                        <p class="cta-text">
                            Enter your email to create or restart your membership.
                        </p>
                    </div>

                    <form action="" class="cta-form">
                        <input type="email" name="email" required placeholder="Enter your email" class="email-field">

                        <button type="submit" class="cta-form-btn">Get started</button>
                    </form>

                </div>
            </section>
</article>
